<a id="1"></a>
# Import data

In [50]:
# Spark Session, Pipeline, Functions, and Metrics
from pyspark import SparkContext, SparkConf
from pyspark.sql import SQLContext
from pyspark.ml.feature import OneHotEncoder, StringIndexer, StandardScaler, VectorAssembler
from pyspark.ml import Pipeline
from pyspark.ml.stat import Correlation
from pyspark.sql.functions import rand
from pyspark.mllib.evaluation import MulticlassMetrics

# Keras / Deep Learning
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras import optimizers, regularizers
from keras.optimizers import Adam

# Elephas for Deep Learning on Spark
from elephas.ml_model import ElephasEstimator

In [2]:
# Spark Session
conf = SparkConf().setAppName('Predict Loan Payback').setMaster('local[6]') # 6 cores
sc = SparkContext(conf=conf)
sql_context = SQLContext(sc)

In [3]:
# sc.stop()
sc

In [4]:
# Load Data to Spark Dataframe
df = sql_context.read.csv("./data/accepted_2007_to_2018Q4.csv", header=True, inferSchema=True)

In [5]:
# View Schema
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- member_id: string (nullable = true)
 |-- loan_amnt: double (nullable = true)
 |-- funded_amnt: double (nullable = true)
 |-- funded_amnt_inv: double (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- installment: double (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- issue_d: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- pymnt_plan: string (nullable = true)
 |-- url: string (nullable = true)
 |-- desc: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- title: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- dti: string (nullable = true)
 |-- delinq_2yrs: string (nullable = true)
 |-- earliest_cr_line: string (nullable = true)
 |-- fico_range_low: string (nullable = true)
 |-- fico_range_high: string (nullable = true)
 |-- inq_last_6mths: string (nullable = true)
 |-- mths_since_last_delinq: string (nullable = true)
 |-- mths_since_last_record: string (nullable = true)
 |-- open_acc: string (nullable = true)
 |-- pub_rec: string (nullable = true)
 |-- revol_bal: string (nullable = true)
 |-- revol_util: string (nullable = true)
 |-- total_acc: string (nullable = true)
 |-- initial_list_status: string (nullable = true)
 |-- out_prncp: string (nullable = true)
 |-- out_prncp_inv: string (nullable = true)
 |-- total_pymnt: string (nullable = true)
 |-- total_pymnt_inv: string (nullable = true)
 |-- total_rec_prncp: string (nullable = true)
 |-- total_rec_int: string (nullable = true)
 |-- total_rec_late_fee: string (nullable = true)
 |-- recoveries: string (nullable = true)
 |-- collection_recovery_fee: string (nullable = true)
 |-- last_pymnt_d: string (nullable = true)
 |-- last_pymnt_amnt: string (nullable = true)
 |-- next_pymnt_d: string (nullable = true)
 |-- last_credit_pull_d: string (nullable = true)
 |-- last_fico_range_high: string (nullable = true)
 |-- last_fico_range_low: string (nullable = true)
 |-- collections_12_mths_ex_med: string (nullable = true)
 |-- mths_since_last_major_derog: string (nullable = true)
 |-- policy_code: string (nullable = true)
 |-- application_type: string (nullable = true)
 |-- annual_inc_joint: string (nullable = true)
 |-- dti_joint: string (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- acc_now_delinq: string (nullable = true)
 |-- tot_coll_amt: string (nullable = true)
 |-- tot_cur_bal: string (nullable = true)
 |-- open_acc_6m: string (nullable = true)
 |-- open_act_il: string (nullable = true)
 |-- open_il_12m: string (nullable = true)
 |-- open_il_24m: string (nullable = true)
 |-- mths_since_rcnt_il: string (nullable = true)
 |-- total_bal_il: string (nullable = true)
 |-- il_util: string (nullable = true)
 |-- open_rv_12m: string (nullable = true)
 |-- open_rv_24m: string (nullable = true)
 |-- max_bal_bc: string (nullable = true)
 |-- all_util: string (nullable = true)
 |-- total_rev_hi_lim: string (nullable = true)
 |-- inq_fi: string (nullable = true)
 |-- total_cu_tl: string (nullable = true)
 |-- inq_last_12m: double (nullable = true)
 |-- acc_open_past_24mths: double (nullable = true)
 |-- avg_cur_bal: string (nullable = true)
 |-- bc_open_to_buy: double (nullable = true)
 |-- bc_util: string (nullable = true)
 |-- chargeoff_within_12_mths: double (nullable = true)
 |-- delinq_amnt: double (nullable = true)
 |-- mo_sin_old_il_acct: double (nullable = true)
 |-- mo_sin_old_rev_tl_op: double (nullable = true)
 |-- mo_sin_rcnt_rev_tl_op: double (nullable = true)
 |-- mo_sin_rcnt_tl: double (nullable = true)
 |-- mort_acc: double (nullable = true)
 |-- mths_since_recent_bc: double (nullable = true)
 |-- mths_since_recent_bc_dlq: double (nullable = true)
 |-- mths_since_recent_inq: double (nullable = true)
 |-- mths_since_recent_revol_delinq: double (nullable = true)
 |-- num_accts_ever_120_pd: double (nullable = true)
 |-- num_actv_bc_tl: double (nullable = true)
 |-- num_actv_rev_tl: double (nullable = true)
 |-- num_bc_sats: double (nullable = true)
 |-- num_bc_tl: double (nullable = true)
 |-- num_il_tl: double (nullable = true)
 |-- num_op_rev_tl: double (nullable = true)
 |-- num_rev_accts: double (nullable = true)
 |-- num_rev_tl_bal_gt_0: double (nullable = true)
 |-- num_sats: double (nullable = true)
 |-- num_tl_120dpd_2m: double (nullable = true)
 |-- num_tl_30dpd: double (nullable = true)
 |-- num_tl_90g_dpd_24m: double (nullable = true)
 |-- num_tl_op_past_12m: double (nullable = true)
 |-- pct_tl_nvr_dlq: double (nullable = true)
 |-- percent_bc_gt_75: double (nullable = true)
 |-- pub_rec_bankruptcies: double (nullable = true)
 |-- tax_liens: double (nullable = true)
 |-- tot_hi_cred_lim: double (nullable = true)
 |-- total_bal_ex_mort: double (nullable = true)
 |-- total_bc_limit: double (nullable = true)
 |-- total_il_high_credit_limit: double (nullable = true)
 |-- revol_bal_joint: double (nullable = true)
 |-- sec_app_fico_range_low: double (nullable = true)
 |-- sec_app_fico_range_high: double (nullable = true)
 |-- sec_app_earliest_cr_line: string (nullable = true)
 |-- sec_app_inq_last_6mths: double (nullable = true)
 |-- sec_app_mort_acc: double (nullable = true)
 |-- sec_app_open_acc: double (nullable = true)
 |-- sec_app_revol_util: double (nullable = true)
 |-- sec_app_open_act_il: double (nullable = true)
 |-- sec_app_num_rev_accts: double (nullable = true)
 |-- sec_app_chargeoff_within_12_mths: double (nullable = true)
 |-- sec_app_collections_12_mths_ex_med: double (nullable = true)
 |-- sec_app_mths_since_last_major_derog: double (nullable = true)
 |-- hardship_flag: string (nullable = true)
 |-- hardship_type: string (nullable = true)
 |-- hardship_reason: string (nullable = true)
 |-- hardship_status: string (nullable = true)
 |-- deferral_term: string (nullable = true)
 |-- hardship_amount: string (nullable = true)
 |-- hardship_start_date: string (nullable = true)
 |-- hardship_end_date: string (nullable = true)
 |-- payment_plan_start_date: string (nullable = true)
 |-- hardship_length: string (nullable = true)
 |-- hardship_dpd: string (nullable = true)
 |-- hardship_loan_status: string (nullable = true)
 |-- orig_projected_additional_accrued_interest: string (nullable = true)
 |-- hardship_payoff_balance_amount: string (nullable = true)
 |-- hardship_last_payment_amount: string (nullable = true)
 |-- disbursement_method: string (nullable = true)
 |-- debt_settlement_flag: string (nullable = true)
 |-- debt_settlement_flag_date: string (nullable = true)
 |-- settlement_status: string (nullable = true)
 |-- settlement_date: string (nullable = true)
 |-- settlement_amount: string (nullable = true)
 |-- settlement_percentage: string (nullable = true)
 |-- settlement_term: string (nullable = true)

<a id="2"></a>
# Preprocessing

In [6]:
df.limit(5).toPandas()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,None,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,None,None,Cash,N,None,None,None,None,None,None
1,68355089,None,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,None,None,Cash,N,None,None,None,None,None,None
2,68341763,None,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,None,None,Cash,N,None,None,None,None,None,None
3,66310712,None,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,None,None,Cash,N,None,None,None,None,None,None
4,68476807,None,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,None,None,Cash,N,None,None,None,None,None,None

In [7]:
df.groupBy("loan_status").count().toPandas()

                                          loan_status    count
0                                          Fully Paid  1076751
1                                             Default       40
2                                                None       33
3                                     In Grace Period     8436
4   Does not meet the credit policy. Status:Fully ...     1988
5                                         Charged Off   268558
6                                            Oct-2015        1
7                                  Late (31-120 days)    21467
8                                             Current   878317
9   Does not meet the credit policy. Status:Charge...      761
10                                  Late (16-30 days)     4349

for the sake of simplicity, let's consider only _Fully Paid_ and _Charged Off_ values:

In [8]:
df = df.filter('loan_status in ("Fully Paid", "Charged Off")')

In [9]:
df.groupBy("loan_status").count().toPandas()

   loan_status    count
0   Fully Paid  1076751
1  Charged Off   268558

In [12]:
df = df.drop('id', 'pymnt_plan', 'hardship_flag')

In [14]:
print((df.count(), len(df.columns)))

(1345309, 148)

let's drop these columns, as it will not contribute to our goal.

In [18]:
from pyspark.sql.functions import col,isnan, when, count
to_drop = df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).toPandas()

In [19]:
to_drop

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,1345309,0,0,0,0,0,0,0,0,85785,...,1339554,1339554,226,171,1311942,1311957,1311977,1311998,1312012,1312016

In [33]:
to_drop.sum().sort_values(ascending=False).head(50)

member_id                                     1345309
next_pymnt_d                                  1345086
orig_projected_additional_accrued_interest    1341548
hardship_last_payment_amount                  1339554
hardship_payoff_balance_amount                1339554
hardship_dpd                                  1339550
hardship_loan_status                          1339548
hardship_start_date                           1339547
hardship_end_date                             1339546
hardship_length                               1339545
payment_plan_start_date                       1339543
hardship_amount                               1339540
deferral_term                                 1339532
hardship_status                               1339521
hardship_reason                               1339513
hardship_type                                 1339504
sec_app_mths_since_last_major_derog           1338662
sec_app_revol_util                            1327004
sec_app_num_rev_accts                         1326678
sec_app_open_act_il                           1326677
sec_app_chargeoff_within_12_mths              1326673
sec_app_collections_12_mths_ex_med            1326672
sec_app_open_acc                              1326670
sec_app_mort_acc                              1326668
sec_app_inq_last_6mths                        1326665
sec_app_fico_range_low                        1326662
revol_bal_joint                               1326658
sec_app_earliest_cr_line                      1326657
sec_app_fico_range_high                       1326657
verification_status_joint                     1319597
dti_joint                                     1319367
annual_inc_joint                              1319330
settlement_term                               1312016
settlement_percentage                         1312012
settlement_amount                             1311998
settlement_date                               1311977
settlement_status                             1311957
debt_settlement_flag_date                     1311942
desc                                          1221777
mths_since_last_record                        1116581
mths_since_recent_bc_dlq                      1026267
mths_since_last_major_derog                    991349
mths_since_recent_revol_delinq                 895331
il_util                                        880270
mths_since_rcnt_il                             821897
all_util                                       807758
inq_last_12m                                   807711
inq_fi                                         807707
total_cu_tl                                    807703
max_bal_bc                                     807700
dtype: int64

In [34]:
to_drop.sum().sort_values(ascending=False)[50:].head(50)

open_rv_12m                   807699
open_rv_24m                   807693
total_bal_il                  807685
open_il_24m                   807678
open_il_12m                   807673
open_act_il                   807645
open_acc_6m                   807631
mths_since_last_delinq        678599
mths_since_recent_inq         174049
num_tl_120dpd_2m              117400
mo_sin_old_il_acct            105485
emp_title                      85785
emp_length                     78511
pct_tl_nvr_dlq                 67681
avg_cur_bal                    67546
num_tl_30dpd                   67527
num_bc_tl                      67526
num_rev_accts                  67526
num_rev_tl_bal_gt_0            67525
num_actv_rev_tl                67525
num_tl_op_past_12m             67525
num_tl_90g_dpd_24m             67525
total_rev_hi_lim               67522
num_il_tl                      67521
num_op_rev_tl                  67520
num_actv_bc_tl                 67518
num_accts_ever_120_pd          67516
mo_sin_rcnt_tl                 67493
total_il_high_credit_limit     67493
mo_sin_rcnt_rev_tl_op          67474
mo_sin_old_rev_tl_op           67454
tot_hi_cred_lim                67440
tot_cur_bal                    67433
tot_coll_amt                   67410
bc_util                        61912
percent_bc_gt_75               61555
bc_open_to_buy                 61142
mths_since_recent_bc           60204
num_bc_sats                    55839
num_sats                       55839
acc_open_past_24mths           47278
mort_acc                       47260
total_bc_limit                 47228
total_bal_ex_mort              47209
title                          16660
last_pymnt_d                    2320
pub_rec_bankruptcies             911
revol_util                       886
dti                              375
chargeoff_within_12_mths         281
dtype: int64

The first 95 columns has lots of nulls so I will drop them

In [37]:
to_drop = list(to_drop.sum().sort_values(ascending=False).head(95).index)

In [38]:
print(to_drop)

['member_id', 'next_pymnt_d', 'orig_projected_additional_accrued_interest', 'hardship_last_payment_amount', 'hardship_payoff_balance_amount', 'hardship_dpd', 'hardship_loan_status', 'hardship_start_date', 'hardship_end_date', 'hardship_length', 'payment_plan_start_date', 'hardship_amount', 'deferral_term', 'hardship_status', 'hardship_reason', 'hardship_type', 'sec_app_mths_since_last_major_derog', 'sec_app_revol_util', 'sec_app_num_rev_accts', 'sec_app_open_act_il', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_open_acc', 'sec_app_mort_acc', 'sec_app_inq_last_6mths', 'sec_app_fico_range_low', 'revol_bal_joint', 'sec_app_earliest_cr_line', 'sec_app_fico_range_high', 'verification_status_joint', 'dti_joint', 'annual_inc_joint', 'settlement_term', 'settlement_percentage', 'settlement_amount', 'settlement_date', 'settlement_status', 'debt_settlement_flag_date', 'desc', 'mths_since_last_record', 'mths_since_recent_bc_dlq', 'mths_since_last_major_derog', 'mths_since_recent_revol_delinq', 'il_util', 'mths_since_rcnt_il', 'all_util', 'inq_last_12m', 'inq_fi', 'total_cu_tl', 'max_bal_bc', 'open_rv_12m', 'open_rv_24m', 'total_bal_il', 'open_il_24m', 'open_il_12m', 'open_act_il', 'open_acc_6m', 'mths_since_last_delinq', 'mths_since_recent_inq', 'num_tl_120dpd_2m', 'mo_sin_old_il_acct', 'emp_title', 'emp_length', 'pct_tl_nvr_dlq', 'avg_cur_bal', 'num_tl_30dpd', 'num_bc_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_actv_rev_tl', 'num_tl_op_past_12m', 'num_tl_90g_dpd_24m', 'total_rev_hi_lim', 'num_il_tl', 'num_op_rev_tl', 'num_actv_bc_tl', 'num_accts_ever_120_pd', 'mo_sin_rcnt_tl', 'total_il_high_credit_limit', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_old_rev_tl_op', 'tot_hi_cred_lim', 'tot_cur_bal', 'tot_coll_amt', 'bc_util', 'percent_bc_gt_75', 'bc_open_to_buy', 'mths_since_recent_bc', 'num_bc_sats', 'num_sats', 'acc_open_past_24mths', 'mort_acc', 'total_bc_limit', 'total_bal_ex_mort', 'title']

In [39]:
df = df.drop(*to_drop)
print((df.count(), len(df.columns)))

(1345309, 53)

for the remaining columns with missing values, let's see the missing percentage:

In [42]:
df = df.na.drop()

In [43]:
print((df.count(), len(df.columns)))

(1340812, 53)

In [69]:
to_drop = ['fico_range_low', 'funded_amnt_inv', 'funded_amnt', 'total_pymnt_inv', 'total_pymnt', 'installment', 'collection_recovery_fee', 'total_rec_prncp', 'last_fico_range_low']
df = df.drop(*to_drop)
print((df.count(), len(df.columns)))

(1340812, 44)